.css-standard {
  background-color: #FFFF00;
  height: 200px;
  width: 200px;
}

.css_plus {
  background-color: forestgreen;
  height: 200px;
  width: 200px;
}

.css-red {
  background-color: red;
  height: 200px;
  width: 200px;
}