<!DOCTYPE html>
<html lang="en">
<head>
  <title>+</title>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
  <script src="response.js"></script>
  <link rel="stylesheet" href="main.css">

</head>
<body>
<div class="container">
  <div class="input-group md-6">
    <button type="button" class="btn btn-success" id="green">+</button>
    <input type="text" id="param1">
    <input type="text" id="param2">
    <button type="button" class="btn btn-danger" id="red">-</button>
  </div>
  <div>
    <div id="cub"></div>
  </div>


</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>